@import 'nib'
@import 'vendor/normalize.css'
@import 'base'

html, body
  position absolute
  top 0
  left 0
  width 100%
  height 100%

#controls
  position fixed
  top 0
  left 0
  border 1px solid white
  z-index 9001

canvas
  box-sizing border-box
